.center-avatar{
    margin: auto;
}
.validation-message{
    color: rgba(214, 39, 39, 0.589);
    font-size: 15px;
    margin-top: 10px;
    //mejorar estilo de presentacion
}
.register-link {
    color: #007bff;  
    cursor: pointer; 
    text-decoration: underline; 
    margin-top: 10px;
    display: block;
}